.DS_Store

# dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/
dist/
*.tsbuildinfo

# logs
*.log

# Playwright
test-results/
playwright-report/

# local uploads
src/backend/storage/uploads/photos/

# env
.env
.env.local
.env.*.local
